@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.features {
  padding: 1.5rem;
  cursor: pointer;
}
.bg-img {
  background-image: url("../assets/19007.jpg");
  width: 100vw;
  height: 1000%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div div div .icon-3 {
  width: 80%;
  height: 80%;
  margin: 0 25px;
  padding: 15px 0;
}
div div div.features .card ul li {
  text-align: start;
}
.buynow {
  margin-left: 100px;
}
.buynow.buynow-basic {
  background-color: #0694fa;
  background-image: linear-gradient(359deg, #0694fa 0%, #43b9f3 25%);
}
.buynow.buynow-standard {
  background-color: #0276e1;
  background-image: linear-gradient(315deg, #0276e1 0%, #2089f5 25%);
}
.buynow.buynow-premium {
  background-color: #064c8a;
  background-image: linear-gradient(315deg, #064c8a 0%, #05274f 100%);
}
.buynow:hover {
  transform: scale(1.2);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
svg path.basic {
  fill: #43b9f3;
}
svg path.standard {
  fill: #0276e1;
}
svg path.premium {
  fill: #064c8a;
}
@media screen and (max-width: 995px) {
  .features {
    gap: 1.2rem;
    width: 15rem;
  }
  .buynow {
    padding: 10px 0;
    margin: 0 30px;
  }
}
@media screen and (max-width: 870px) {
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 20rem;
  }
  .features {
    margin: 0 250px;
    width: 16rem;
    height: 24rem;
    padding: 14px 20px;
  }
  div div div.features .card {
    width: 14rem;
    height: 22rem;
    margin-bottom: 12px;
    padding: 1rem 0;
  }
  div div div.features .card h3 {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
  }
  div div div.features .card ul li {
    text-align: start;
    font-size: 0.8rem;
  }
  div div div .icon-3 {
    width: 40%;
    height: 30%;
    margin: 0 70px;
    padding: 8px 0;
  }
  .buynow {
    margin-left: 55px;
    margin-top: -20px;
  }
  .buynow.buynow-basic,
  .buynow.buynow-premium,
  .buynow.buynow-standard {
    font-size: 0.6rem;
  }
  svg path.basic,
  svg path.standard,
  svg path.premium {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .features {
    width: 15rem;
    height: 22rem;
    padding: 18px 25px;
  }
  div div .b-f {
    background-color: #0694fa;
    background-image: linear-gradient(359deg, #0694fa 0%, #43b9f3 25%);
  }
  div div .s-f {
    background-color: #0276e1;
    background-image: linear-gradient(315deg, #0276e1 0%, #2089f5 25%);
  }
  div div .p-f {
    background-color: #064c8a;
    background-image: linear-gradient(315deg, #064c8a 0%, #05274f 100%);
  }
  div div div .icon-3 {
    width: 40%;
    height: 30%;
    margin: 0 60px;
    padding: 8px 0;
  }
  div div div.features .card {
    width: 13rem;
    height: 20rem;
    margin: 0 -8px;
  }
  .modal {
    margin: 20px -9px;
  }
  .modal #contained-modal-title-vcenter {
    font-size: 1rem;
  }
  div div div.features .card h3 {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
  }
  div div div.features .card ul li {
    text-align: start;
    font-size: 0.6rem;
  }
  div div div.features .card .buynow {
    margin-top: -10px;
    padding: 2px 5px;
  }
  .buynow.buynow-basic,
  .buynow.buynow-premium,
  .buynow.buynow-standard {
    font-size: 0.5rem;
  }
  svg path.basic,
  svg path.standard,
  svg path.premium {
    display: none;
  }
}
