@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.header-area ul li a .btn {
  transition: all 0.2s ease-in;
  font-size: 1.4rem;
  color: #fff;
}
.header-area ul li a.btn:hover {
  border: 1px solid rgb(214, 236, 255);
  transform: scale(1.1);
  background: #fff;
  color: rgb(0, 183, 255);
}
.header-area ul li a:hover {
  color: rgb(4, 112, 253);
}
.header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  transition: 0.6s;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 183, 255);
  color: #fff;
  padding: 10px 10px;
  z-index: 1000000;
}
.header-area .logo .main-logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
.header-area ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-area ul li {
  list-style: none;
  position: relative;
  font-size: 1.3rem;
  margin-top: 12px;
}
.header-area ul li a {
  position: relative;
  transition: 0.6s;
  margin: 30px;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-weight: 500;
  color: #fff;
}
.header-area.sticky {
  padding: 10px 10px;
  background: #fff;
  z-index: 1000000;
}
.header-area.sticky ul li a,
.header-area.sticky .logo .main-logo,
.header-area.sticky .bars {
  color: rgb(0, 183, 255);
}
header #check {
  display: none;
}
.bars {
  font-size: 1.7rem;
  cursor: pointer;
  display: none;
  color: #fff;
}
@media screen and (max-width: 1100px) {
  .header-area {
    justify-content: space-evenly;
    transition: 0.2s;
  }
  .header-area .logo .main-logo {
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 1.9px;
    transition: 0.2s;
  }
  .header-area ul {
    justify-content: flex-end;
    align-items: center;
    transition: 0.2s;
  }
  .header-area ul li {
    font-size: 1.3rem;
    transition: 0.2s;
  }
  .header-area ul li a {
    margin: 0 20px;
    letter-spacing: 1.8px;
    transition: 0.2s;
  }
  .header-area ul li a .btn {
    transition: all 0.2s ease-in;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 980px) {
  .header-area {
    justify-content: space-around;
    text-align: center;
    transition: 0.4s;
  }
  .header-area .logo {
    margin-left: 10px;
  }
  .bars {
    display: block;
    margin: 0 30px;
    font-size: 1.6rem;
    transition: 0.4s;
  }
  .header-area ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 15%, #21acff 100%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    top: 72px;
    left: -110%;
    text-align: center;
    transition: all 0.4s;
    display: block;
    font-weight: 800;
  }
  .header-area ul li {
    font-size: 1.1rem;
    transition: 0.4s;
    padding: 15px 0;
    margin: 40px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
  .header-area ul li a .btn {
    transition: all 0.2s ease-in;
    font-size: 0.8rem;
    color: #fff;
  }
  ul.active {
    left: 0;
  }
  .header-area.sticky .active li a {
    color: #fff;
  }
}
